.game-wrapper{
    background-color: #161616;
    width: auto;


    .game-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #353535;
        padding: 15px;
        margin: 0;
        font-size: 0.8em;
        
        
        .game-title{
            @extend .gradient-title;
        }

        .back-button{
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;
            background-color: #181818;
            color: white;
            font-size: 0.8em;
            border-radius: 20px;
            color: #FFFF;
            font-weight: 700;
            transition: all 0.3s ease;

            &:hover{
                background-color: white;
                color: black;
            }
        }

        .score{
            @extend .back-button;

            &:hover{
                background-color: #181818;
                color: white;
            }
        }
    }
}

.cards-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 500px;
    height: 50vh;

    margin: auto;
    margin-top: 30px;
}


.cards-zone{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 30px;
    grid-gap: 10px;
    place-items: center;
}

.card{
    background-color: white;
    width: 50px;
    height: 50px;
}




