*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    user-select: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(22, 22, 22);
    color: white;
    
    a{
        color: white;
    }
}

.gradient-title{
    background-image: linear-gradient(108deg, rgba(224,255,0,1) 0%, rgba(255,0,110,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 250%;
    background-position: left;

    animation-name: gradient-animation;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@import "index";

@import "modes";

@import "mediaqueries";